In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
#Loading dataset
dataset = pd.read_csv('processed_data.csv')
wedding_dataset = dataset[["Season", "Wedding_destination","Location","Priority_1","Guest_number","Total_Estimate"]]
wedding_dataset

,Season,Wedding_destination,Location,Priority_1,Guest_number,Total_Estimate
0,Summer Wedding,Camarillo CA,a garden or park,None,175,72855
1,Spring Wedding,Mobile AL,Other,None,175,61983
2,Spring Wedding,None specified,a garden or park,None,75,30487
3,Fall Wedding,Dayton OH,a church or other place of worship,Attire & Accessories (Wedding Dress Suit etc.),38,22588
4,Spring Wedding,Gloucester MA,an event facility,None,125,59715
...,...,...,...,...,...,...
975,Summer Wedding,Phoenix az,a church or other place of worship,Attire & Accessories (Wedding Dress Suit etc.),75,38768
976,Summer Wedding,Decatur IL,Purples,None,75,31554
977,Fall Wedding,Mount Pleasant SC,a farm or barn,None,125,48143
978,Spring Wedding,Bethlehem PA,a church or other place of worship,Event Food Service Catering Bar Service,125,60546
979,Summer Wedding,Sheffield MA,a family or friends home,None,125,42699

In [3]:
from re import I
from sklearn.preprocessing import LabelEncoder
le_0= LabelEncoder()
le_1= LabelEncoder()
le_2= LabelEncoder()
le_3= LabelEncoder()

wedding_dataset["Season"]=le_0.fit_transform(wedding_dataset["Season"])
wedding_dataset["Wedding_destination"]=le_1.fit_transform(wedding_dataset["Wedding_destination"])
wedding_dataset["Location"]=le_2.fit_transform(wedding_dataset["Location"])
wedding_dataset["Priority_1"]=le_3.fit_transform(wedding_dataset["Priority_1"])
wedding_dataset
#   wedding_dataset[["Season", "Wedding_destination","Location","Priority_1"]] = wedding_dataset[["Season", "Wedding_destination","Location","Priority_1"]].apply(le.fit_transform)
# wedding_dataset

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,Season,Wedding_destination,Location,Priority_1,Guest_number,Total_Estimate
0,3,69,21,9,175,72855
1,2,322,8,9,175,61983
2,2,351,21,9,75,30487
3,0,123,16,0,38,22588
4,2,176,29,9,125,59715
...,...,...,...,...,...,...
975,3,390,16,0,75,38768
976,3,125,10,9,75,31554
977,0,331,20,9,125,48143
978,2,42,16,5,125,60546
979,3,459,19,9,125,42699

In [26]:
X = wedding_dataset.iloc[:, :-1].values
y = wedding_dataset.iloc[:, -1].values

In [27]:
#Train, Test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [24]:
# X_train =X_train.reshape(-1, 1)
# y_train =y_train.reshape(-1, 1)

In [28]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [29]:
y_pred = regressor.predict(X_test)

In [30]:
#display adjusted R-squared
adjusted_R2=1 - (1-regressor.score(X, y))*(len(y)-1)/(len(y)-X.shape[1]-1)
adjusted_R2

0.7984162488997255

In [22]:
ynew = regressor.predict([[2,210,16,4,125]])
ynew

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([54158.16070549])

In [35]:
ynew = regressor.predict([[le_0.transform(['Spring Wedding']),le_1.transform(['Gloucester MA']),le_2.transform(['a farm or barn']),le_3.transform(['Bakery (Wedding Cake/dessert)']),125]])
ynew

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:746: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  array = np.asarray(array, order=order, dtype=dtype)
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

array([57291.85755444])